body {
	font-family: 'Source Code Pro', system-ui;
	overflow: hidden;
	display: flex;
	align-items: center;
	background: radial-gradient(300px circle at 55% 60% in oklab,
			var(--shine-2), transparent 100% 100%), radial-gradient(farthest-side circle at 75% 30% in oklab,
			var(--shine-1) 0%, var(--card-bg) 100%);
	background-blend-mode: color-burn;
	animation: animate-color-1 8s infinite linear alternate, 4s animate-color-2 1s infinite linear alternate;
}

@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Source+Code+Pro:wght@400;700&display=swap');

@property --card-bg {
	syntax: "<color>";
	inherits: false;
	initial-value: #c0bae8;
}

@property --shine-1 {
	syntax: "<color>";
	inherits: false;
	initial-value: #ffbbc0;
}

@property --shine-2 {
	syntax: "<color>";
	inherits: false;
	initial-value: #c0aecb;
}

@keyframes animate-color-1 {
	from {
		--shine-1: initial;
	}

	to {
		--shine-1: orange;
	}
}

@keyframes animate-color-2 {
	from {
		--shine-2: initial;
	}

	to {
		--shine-2: hotpink;
	}
}

.button {
	margin: 1rem 0;
	height: 4rem;
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.2rem;
	transition: transform 0.2s;
}

.button:hover,
.button:hover:active {
	transform: scale(1.02);
}

i[class^='ri-'] {
	margin-right: 0.5rem;
	font-size: 1.2rem;
}

.button img {
	margin-right: 0.5rem;
}

.button-portfolio {
	background-color: #6f6f58;
	color: white !important;
}

.button-portfolio:hover,
.button-portfolio:active {
	background-color: #797963;
	color: #ddd !important;
}

.button-github {
	background-color: #333;
	color: white !important;
}

.button-github:hover,
.button-github:active {
	background-color: #444;
	color: #ddd !important;
}

.button-linkedin {
	background-color: #0077b5;
	color: white !important;
}

.button-linkedin:hover,
.button-linkedin:active {
	background-color: #005582;
	color: #e0e0e0 !important;
}

.button-codepen {
	background-color: #010101;
	color: white !important;
}

.button-codepen:hover,
.button-codepen:active {
	background-color: #333;
	color: #ddd !important;
}

.button-x {
	background-color: #000000;
	color: white !important;
}

.button-x:hover,
.button-x:active {
	background-color: #222;
	color: #ddd !important;
}

.button-white {
	background-color: #ffffff;
	color: #000000 !important;
}

.button-white:hover,
.button-white:active {
	background-color: #f0f0f0;
	color: #333 !important;
}

.button-straypath {
	background-color: #565c42;
	color: white !important;
}

.button-straypath:hover,
.button-straypath:active {
	background-color: #6b7450;
	color: #e0e0e0 !important;
}

.button-brickcity {
	background-color: #aa4a44;
	color: white !important;
}

.button-brickcity:hover,
.button-brickcity:active {
	background-color: #b4554e;
	color: #e0e0e0 !important;
}

.button-repowidget {
	background-color: #f7f7f7;
	color: #333 !important;
}

.button-repowidget:hover,
.button-repowidget:active {
	background-color: #f7f7f7;
	color: #191919 !important;
}

@media (max-width: 768px) {
	.container {
		padding: 0 1rem;
	}
}
